::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #606C5D;; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #C1D0B5; 
  border-radius: 10px;
}
